<form class="navbar navbar-default" role="search"> 
 <div class="input-group search_box"> 
  <input type="text" class="form-control" placeholder="请输入查询条件" /> 
  <span class="input-group-btn"> <button class="btn btn-default" type="submit"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button> </span> 
 </div> 
</form> 
<div class="media">
  <div class="media-left">
     <p><span class="glyphicon glyphicon-bullhorn"></span></p>    
  </div>
  <div class="media-body">
      <marquee direction="left" scrollamount="3">
          <p class="text-primary">
          {{#each newslist}}
             {{newsTitle}}
          {{/each}}
          </p>
      </marquee>
  </div>
</div>
<div id="goodsCarousel" class="carousel slide" data-ride="carousel"> 
 <ol class="carousel-indicators">
  {{#each carouselPicList1}}
    <li data-target="#goodsCarousel" data-slide-to="{{@index}}" class="{{each_index_active @index}}"></li> 
  {{/each}}
 </ol> 
 <div class="carousel-inner">
  {{#each carouselPicList1}}
    <div class="item {{each_index_active @index}}"> 
      <a href="goods_detail?goodsId={{goodsId}}&goodsFlag={{goodsFlag}}" ><img src="{{pic goodsPicUrl}}" class="img-responsive center-block" /></a> 
    </div>
  {{/each}}
 </div> 
</div> 
<ul class="list-inline bd">
  <a href="goods_list?discountActivityId=6&pageID=goodsSearchList"><li><img src="images/bd-01.png" class="img-responsive center-block"/></li></a>
  <a href="goods_list?categoryId=9&pageID=goodsSearchList"><li><img src="images/bd-02.png" class="img-responsive center-block"/></li></a>
  <a href="goods_list?categoryId=11&pageID=goodsSearchList"><li><img src="images/bd-03.png" class="img-responsive center-block"/></li></a>
  <a href="goods_list?categoryId=10&pageID=goodsSearchList"><li><img src="images/bd-04.png" class="img-responsive center-block"/></li></a>

  <a href="goods_list?discountActivityId=5&pageID=goodsSearchList"><li><img src="images/bd-05.png" class="img-responsive center-block"/></li></a>
  <a href="goods_list?discountActivityId=7&pageID=goodsSearchList"><li><img src="images/bd-06.png" class="img-responsive center-block"/></li></a>
  <a href="goods_list?discountActivityId=3&pageID=goodsSearchList"><li><img src="images/bd-07.png" class="img-responsive center-block"/></li></a>
  <a href="goods_list?discountActivityId=4&pageID=goodsSearchList"><li><img src="images/bd-08.png" class="img-responsive center-block"/></li></a>
</ul>
<ul class="list-group">
  {{#each carouselPicList2}}
    <li class="list-group-item">
      <a href="goods_detail?goodsId={{goodsId}}&goodsFlag={{goodsFlag}}" ><img src="{{pic goodsPicUrl}}" class="img-responsive center-block"/></a> 
    </li>
  {{/each}}
</ul>